.idea
# Ignore .next directory
**/.next

# Ignore node_modules directory
**/node_modules

# Ignore .env files
**/.env

**/dist-react
**/dist-electron

**/dist

**/venv

**/CLAUDE.md

**/.venv

**/__pycache__

*.db

**/attachments
